/*Cores*/
$purple: #630162;
$red: #c71700;
$green: #178541;
$blue: #00577a;
$orange: #ce6b01;
$pink: #C94B4B;
$hover: #DB3A0B;
$texto: #2b2b2b;
$bordas: #eee;
@mixin gradient() {
    background-image: linear-gradient(to right, $pink, $purple);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.flex {
    display: flex;
}

.btn {
    border-radius: 3.125rem;
    background: $orange;
    color: white;
    font-weight: bold;
    &:hover {
        background: $hover;
        transition: ease .5s;
    }
}