</body>
<footer class="rodape" id="contato">
    <h1>&#60;Vamos conversar?&#62;</h1>
    <div class="container sfooter">
        <div class="formulario-rodape">
            <form
            action="https://docs.google.com/forms/d/e/1FAIpQLSdBlqG69mzE28W0QuMUWOefHkfA5BYCZOtGImxBOxvrfsxdGA/formResponse"
            method="post" target="hidden_iframe" onsubmit="submitted=true;">
                <div class="formulario"><input type="text" name="entry.2005620554" placeholder="Nome e sobrenome*" required></div>
                <div class="formulario"><input type="text" name="entry.1045781291" placeholder="E-mail*" required></div>
                <div class="formulario"><input type="text" name="entry.1166974658" placeholder="Telefone/Whatsapp*" required></div>
                <div class="formulario"><input type="text" name="entry.542903124" placeholder="Assunto*" required></div>
                <textarea  rows="5" type="message" name="entry.839337160" placeholder="O que está buscando? Deixe uma breve descrição que entrarei em contato*" required></textarea>
                <div><button type="submit">Enviar</button></div>
            </form>
        </div>
        <div class="redes-sociais">
            <h2>Redes Sociais</h2>
            <div>
                <a href="https://facebook.com/amadevcampinas">
                    <img src="../assets/icons8-facebook-old-30.png" alt="Facebook">
                    /amadevcampinas
                </a>
            </div>
            <div>
                <img src="../assets/icons8-important-mail-30.png" alt="E-mail">
                danielapamadeuatgmaildotcom
            </div>
            <div>
                <img src="../assets/icons8-phone-30.png" alt="Celular e Whatsapp">
                (15) 9 9814-0360
            </div>
            <div>
                <img src="../assets/icons8-location-30.png" alt="Endereço">
                Barão Geraldo, Campinas - SP
            </div>
        </div>
    </div>
</footer>
</html>
