<head>
  <title>Amadev - Desenvolvimento de sites em Campinas e região</title>
  <meta property="og:locale" content="pt_BR">
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Amadev"/>
  <meta property="og:title" content="Amadev - Desenvolvimento de sites em Campinas"/>
  <meta property="og:description" content="Amadev é uma empresa que desenvolve sites únicos, exclusivos e
  personalizados."/>
  <meta property="og:url" content="https://amadev.com.br"/>
  <meta property="og:image" content="../assets/amadev-og.jpg"/>
  <meta charset="utf-8">
  <meta name="description" content="Desenvolvimento de sites para empresas">
  <meta name="keywords" content="desenvolvimento de site, sites institucionais, desenvolvimento em Campinas,
  criação de site, web designer em Campinas, SEO, Wordpress">
  <meta name="author" content="Daniela Amadeu">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
</head>
