<header class="menu" id="top">
  <div class="container">
    <a href="index.html"><img src="/assets/logo-branca.png" alt="logo-amadev" width="172px" height="60px"></a>
    <nav class="menu-nav">
      <ul>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="/">Portfolio</a></li>
        <li><a href="/">Serviços</a></li>
        <li><a href="#missao">Missão</a></li>
        <li><a href="#metodologia">Metodologia</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
