<header class="cabecalho">
        <div class="container header">
            <div class="logo">
                <a href="index.html">
                    <img src="../assets/logo.webp" alt="Logo Amadev">
                </a>
            </div>
            <nav id="menu" class="menu">
                <ul>
                    <li><a class="menu-hover" href="index.html">Home</a></li>
                    <li><a class="menu-hover" href="#servicos">Serviços</a class="menu-hover"></li>
                    <li><a class="menu-hover" href="#missao">Missão</a class="menu-hover"></li>
                    <li><a class="menu-hover" href="#metodologia">Metodologia</a class="menu-hover"></li>
                    <li><a class="menu-hover" href="#sobre">Sobre</a class="menu-hover"></li>
                    <li><a class="menu-hover" href="#contato">Contato</a class="menu-hover" ></li>
                    <li><a class="btn whatsapp" href="https://wa.me/5515998140360" target="_blank"><img src="../assets/icons8-whatsapp.svg" alt="Whatsapp"></a></li>
                </ul>
            </nav>
        </div>
    </header>
