/* RESET */
body, ul, li, h1, img, p, a, input {
  margin: 0px;
  padding: 0px;
}

ul, li, a {
  text-decoration: none;
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* PADRÕES */
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto; /*centraliza o conteudo do container*/
}

.col {
  flex-direction: column;
}

/*MENU*/
.menu {
  background-color: #150B22;
}

.menu-nav {
  flex: 1; /*faz o menu alinhar a direita*/
  align-self: center; /*alinha ao centro verticalmente*/
}

.menu-nav ul {
  float: right;
  display: flex; /*se tira o display flex o ul é exibido como block, que é o seu padrão*/
}

.menu ul li {
  margin-left: 20px;
}

.menu-nav ul li a {
  color: #fff;
  padding: 20px 0 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

/*INTRO*/
.intro {
  background: url('background.jpg') no-repeat center center;
  color: #ffffff;
  text-align: center; /*alinha o h1 ao centro*/
  background-size: cover; /*exibe a imagem toda no browser*/
}

.apresentacao {
  padding-top: 200px;
  font-weight: bold;
  font-size: 2.5em;
  padding-bottom: 0;
}

.apresentacao:after {
  content: "";
	display: block; /*por padrao essa pseudoclasse eh exibida como inline*/
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 14px auto;
}

.p-apresentacao {
  padding-bottom: 200px;
  font-size: 1em;
  font-weight: bold;
}

.btn-orcamento {
  border: 3px solid #fff;
  width: 210px;
  height: 60px;
  color: #fff;
  padding: 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  margin-bottom: 30px;
}

.btn-orcamento:hover {
  background-color: #74255e;
  opacity: 0.5;
}

/*SOBRE*/
.sobre {
  background-color: #4D2D61;
}

.sobre h1 {
  color: #f8eaf4;
}

.avatar {
  background-size: cover;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden; /*esconde as bordas da imagem*/
}

.sobre-daniela {
  color: #f8eaf4;
  font-size: 1em;
  margin: 30px 0;
  border: 3px solid #f8eaf4;
  padding: 20px;
}

/*METODOLOGIA*/
.metodologia {
  background-color: #A15092;
}

.metodologia h1 {
  color: #f1dbeb;
}

.metodologia-item {
  border-radius: 10%;
  border: 3px solid #f1dbeb;
  margin-right: 20px;
  margin-bottom: 30px;
}

.metodologia-item:last-child {
  margin: 0 0 30px 0;
}

.metodologia-item h2 {
  font-size: 1.5em;
  color: #f1dbeb;
  font-weight: bold;
  text-align: center;
}

.metodologia-item p{
  font-size: 1em;
  color: #f1dbeb;
  padding: 20px;
}

/*MISSAO*/
.missao {
  background-color: #EA9A9E;
}

.missao-item {
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;
  padding: 50px;
  font-size: 2em;
  width: 145px;
  height: 145px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.missao-descricao {
  font-size: 1em;
  color: #fff;
  margin-bottom: 30px;
}


/*CONTATO*/
.contato {
  background-color: #000;
}

.formulario-rodape {
  width: 100%;
}

.formulario-rodape input {
  background: none;
  border: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  padding: 7px 10px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-transform: uppercase;
  font-size: 1em;
  outline: none;
}
.formulario-rodape textarea {
  font-family: 'Lato', sans-serif;
  background: none;
  width: 100%;
  border: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1em;
}

.formulario-rodape button {
  font-size: 1.2em;
  width: 200px;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  background: none;
  border: 3px solid #fff;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

/*RODAPE*/

.redes-sociais {
  background-color: #73305E;
}

.redes-sociais ul {
  display: flex;
  width: 50%;
}

.redes-sociais ul li {
  margin-left: 10px;
  padding: 10px;
}

.redes-sociais a {
  color: #fff;
}
