<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

    <main class="principal">
        <div class="main container">
            <h1>Desenvolvimento de sites</h1>
            <h2>"Websites funcionam 24/7. Nenhum funcionário faz isso."</h2>
            <a class="btn orcamento" href="#contato">Orçamento</a>
        </div>
    </main>

    <section class="servicos" id="servicos">
        <h1>&#60;Serviços&#62;</h1>
        <div class="container">
            <div class="sflex">
            <div class="bordas">
                <img src="../assets/canecar.svg" alt="Logomarca">
                <h2>Logomarca</h2>
                <p>Criação de logomarcas para empresas
                e produtos. Utilização em websites, cartões
                de visita e demais.</p>
            </div>
            <div class="bordas">
                <img src="../assets/codigor.svg" alt="Desenvolvimento">
                <h2>Código</h2>
                <p>Desenvolvimento de sites com HTML,
                CSS, e Javascript. Com ou sem CMS.</p>
            </div>
            <div class="bordas">
                <img src="../assets/cartoesr.svg" alt="Cartão de visita">
                <h2>Cartão de visita</h2>
                <p>Confecção de cartões com frente, verso e verniz.
                    Tamanho padrão 90mmx55mm.</p>
            </div>
            </div>
            <div class="sflex">
            <div class="bordas">
                <img src="../assets/gestaor.svg" alt="Gestão">
                <h2>Gestão</h2>
                <p>Precisa dar um norte à sua empresa?
                Desenvolvimento de missão, visão e valores.</p>
            </div>
            <div class="bordas">
                <img src="../assets/manutencaor.svg" alt="Manutenção">
                <h2>Manutenção</h2>
                <p>Migração de servidores, correção de bugs,
                atualização do Wordpress e tradução para
                outros idiomas.</p>
            </div>
            <div class="bordas">
                <img src="../assets/designr.svg" alt="Design">
                <h2>Design</h2>
                <p>Criação de layout para websites utilizando
                o Photoshop.</p>
            </div>
            </div>
        </div>    
    </section>
    <section class="missao" id="missao">
        <div class="container">
            <div class="flexr">
                <div class="caixas">
                    <div>
                        <h1>Missão</h1>
                        <p>Amadev tem como missão desenvolver sites
                        marcantes e personalizados, criados do
                        mais completo zero, com excelência em experiência
                        de usabilidade.</p>
                    </div>
                    <div class="missao-img">
                        <img src="../assets/icons8-mission-100.png" alt="Missão">
                    </div>
                </div>
            </div>

            <div class="caixas">
                <div>
                    <h1>Visão</h1>
                    <p>Como visão tem-se o querer ser reconhecida
                    pelo atendimento personalizado e exclusivo.</p>
                </div>
                <div class="missao-img">
                    <img src="../assets/icons8-eye-100.png" alt="Visão">
                </div>
            </div>

            <div class="flexr">
            <div class="caixas r">
                <div>
                    <h1>Valores</h1>
                    <p>Personalização, exclusividade, segurança e 
                    dedicação são os valores base da empresa que 
                    garantem um produto final de alta qualidade.</p>
                </div>
                <div class="missao-img">
                    <img src="../assets/icons8-diamond-100.png" alt="Valores">
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="metodologia" id="metodologia">
        <h1>&#60;Metodologia&#62;</h1>
        <div class="container fmetodologia">
            <div class="cores">
                <div class="green"><h2>Briefing</h2></div>
                <div class="blue"><h2>Brainstorm</h2></div>
                <div class="purple"><h2>Desenvolvimento</h2></div>
            </div>
            <div class="metodologia_texto">
                <p>Uma entrevista é realizada para levantar os
                requisitos do projeto e compreender as necessidades
                do usuário.
                </p>
                <p>Ideias e protótipos são enviados ao cliente, que
                fica responsável por avaliar e validar as propostas.
                </p>
                <p>Definido o projeto final, inicia-se o desenvolvimento.
                O usuário é informado sobre todas as etapas até a sua
                entrega.
                </p>
            </div>
        </div>
    </section>
    <section class="sobre" id="sobre">
        <h1>&#60;Sobre&#62;</h1>
        <div class="container">
            <div class="avatar">
                <img src="../assets/perfil.webp" alt="Sobre a empresa">
              </div>
            <div class="sobre_texto">
                <p>
                    Amadev surgiu na primavera de 2018,
                    criada e mantida por mim, Daniela Amadeu. 
                    A empresa une o meu sobrenome com a palavra
                    inglesa developer que significa desenvolvedor. 
                    Sou formada em análise e desenvolvimento de 
                    sistemas pela Fatec Itapetininga e sou 
                    apaixonada por tecnologia desde 2008, 
                    quando comecei a usar Linux e a mexer com 
                    HTML/CSS. Após formada decidi me focar em 
                    desenvolvimento web, tendo criado um gosto 
                    especial por front-end. 
                </p>
            </div>
        </div>
    </section>
</body>
	{%- include footer.html -%}
</html>
