---
layout: home
---

<!DOCTYPE html>
<html lang="pt_BR" dir="ltr">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

      <main class="intro">
        <div class="container col">
          <!-- div contem alguma propriedade que main nao possui,
        por isso sem o div o botao passava da secao -->
          <h1 class="apresentacao">Muito mais do que <br>
            desenvolvimento de site</h1>
          <p class="p-apresentacao">Aqui desenvolve-se sites que vendem</p>
          <a class="btn-orcamento" href="#contato">Orçamento</a>
        </div>
      </main>

    <section class="sobre" id="sobre">
      <div class="container col">
        <h1>&lt; Sobre &gt;</h1>
        <div class="avatar">
          <img src="/assets/perfil.webp" alt="Logo empresa Amadev">
        </div>
        <div class="sobre-daniela">
          <p>
            Amadev surgiu na primavera de 2018, criada e mantida por mim, Daniela Amadeu.
            A empresa une o meu sobrenome com a palavra inglesa developer que significa
            desenvolvedor.
            Sou formada em análise e desenvolvimento de sistemas pela Fatec Itapetininga
            e sou apaixonada por tecnologia desde 2008, quando comecei a
            usar Linux e a mexer com HTML/CSS. Após formada decidi me focar em desenvolvimento
            web, tendo criado um gosto especial por front-end.
          </p>
        </div>
      </div>
    </section>

    <section class="metodologia" id="metodologia">
      <h1>&lt; Metodologia &gt;</h1>
      <div class="container metodologia-col">
        <div class="metodologia-item">
          <h2>Entrevista</h2>
          <p>
            Nesta etapa é realizada uma entrevista para ser levantados
            os requisitos para o desenvolvimento do site.
            É fundamental para
            compreender as necessidades do usuário e o porquê de se buscar um site.
          </p>
        </div>

        <div class="metodologia-item">
          <h2>Design</h2>
          <p>
            No design são elaboradas todas as páginas do site de acordo
            com o que foi passado no briefing.
            Neste processo o cliente avalia e sugere melhorias
            no design do layout.
          </p>
        </div>

        <div class="metodologia-item">
          <h2>Desenvolvimento</h2>
          <p>
            Todas as etapas são perfeitamente amarradas. Nesta última
            começa o desenvolvimento. Primeiro todas as páginas são escritas
            em HTML e depois vão sendo estilizadas com o CSS.
          </p>
        </div>
      </div>
    </section>

    <section class="missao" id="missao">
      <h1>&lt; Missão &gt;</h1>
      <div class="container">
        <div class="missao-descricao">
          <h2 class="missao-item">M</h2>
          Amadev tem como <b>Missão</b> desenvolver sites marcantes, personalizados
          e que atendam a necessidade do cliente.
        </div>
        <div class="missao-descricao">
          <h2 class="missao-item">V</h2>
          Como <b>Visão</b> tem-se o querer ser reconhecida pelo atendimento
          personalizado e exclusivo.
        </div>
        <div class="missao-descricao">
          <h2 class="missao-item">V</h2>
          Personalização, exclusividade, segurança e dedicação são os <b>Valores</b>
          base da empresa, garantindo um excelente produto final.
        </div>
      </div>
    </section>
    {%- include footer.html -%}
  </body>
</html>
