---
layout: home
---

<!DOCTYPE html>
<html lang="pt_BR" dir="ltr">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}

      <main class="intro">
        <div class="container col">
          <!-- div contem alguma propriedade que main nao possui,
        por isso sem o div o botao passava da secao -->
          <h1 class="apresentacao">Muito mais do que <br>
            desenvolvimento de site</h1>
          <p class="p-apresentacao">Aqui desenvolvemos a sua identidade</p>
          <a class="btn-orcamento" href="#contato">Orçamento</a>
        </div>
      </main>

    <section class="sobre" id="sobre">
      <div class="container col">
        <h1>&lt; Sobre &gt;</h1>
        <div class="avatar">
          <img src="/assets/perfil.webp" alt="foto-daniela">
        </div>
        <div class="sobre-daniela">
          <p>
            Amadev surgiu na primavera de 2018, criada e mantida por Daniela Amadeu.
            A empresa une o sobrenome da fundadora com a palavra developer que,
            em inglês, significa desenvolvedor.
            Formada em análise e desenvolvimento de sistemas pela Fatec Itapetininga
            no mesmo ano, sou apaixonada por tecnologia desde 2008, quando comecei a
            usar Linux e a mexer com blogs. Após formada decidi me focar em desenvolvimento
            web, tendo criado um gosto especial por front-end.
            Adicionalmente, amo escrever. Mantenho um perfil no
            <a href="https://medium.com/@daniela.amadeu" target="_blank">Medium</a> desde 2016.
          </p>
        </div>
      </div>
    </section>

    <section class="metodologia" id="metodologia">
      <h1>&lt; Metodologia &gt;</h1>
      <div class="container">
        <div class="metodologia-item">
          <h2>Entrevista</h2>
          <p>
            Nesta etapa é realizada uma entrevista com o cliente
            em que são levantados os requisitos para o desenvolvimento
            do site. A entrevista pode ser respondida por um questionário
            online ou presencialmente. É uma etapa fundamental para
            compreender as necessidades do cliente e o porquê de ele buscar um site.
          </p>
        </div>

        <div class="metodologia-item">
          <h2>Design</h2>
          <p>
            No design são elaboradas todas as páginas do site de acordo
            com as necessidades do cliente - levantas durante a entrevista.
            Neste processo o cliente é constantemente consultado para sugerir
            melhorias no design ou para afirmar que está tudo de acordo com o esperado
            e assim ser iniciado o desenvolvimento.
          </p>
        </div>

        <div class="metodologia-item">
          <h2>Desenvolvimento</h2>
          <p>
            Todas as etapas são perfeitamente amarradas. Na última etapa
            começa o desenvolvimento. Primeiro todas as páginas são escritas
            em HTML e depois vão sendo estilizadas com o CSS. O resultado
            é enviado ao cliente e estando tudo de acordo, o back-end é
            amarrada ao front do site.
          </p>
        </div>
      </div>
    </section>

    <section class="missao" id="missao">
      <h1>&lt; Missão &gt;</h1>
      <div class="container">
        <div class="missao-descricao">
          <h2 class="missao-item">M</h2>
          Amadev tem como <b>Missão</b> desenvolver sites marcantes, personalizados
          e que atendam a necessidade do cliente.
        </div>
        <div class="missao-descricao">
          <h2 class="missao-item">V</h2>
          Como <b>Visão</b> tem-se o querer ser reconhecida pelo atendimento
          personalizado e exclusivo.
        </div>
        <div class="missao-descricao">
          <h2 class="missao-item">V</h2>
          Personalização, exclusividade, segurança e dedicação são os <b>Valores</b>
          base da empresa, garantindo um excelente produto final.
        </div>
      </div>
    </section>
    {%- include footer.html -%}
  </body>
</html>
